nav.nav
  .container.nav-inner
    .brand
    
      span Admin-portfolio
    ul.links
      li: a(class=(title==='Projects' ? 'active' : ''), href='/projects') Projects
      li: a(class=(title==='Skills' ? 'active' : ''), href='/skills') Skills
